<section class="features">
  <div class="container features-container">
    <h2 class="features-title">Product was Built Specifically for You</h2>
    <ul class="features-list">
      <li class="features-item">
        <img class="features-img" src="./img/features/icon-1.png" alt="green circle" />
        <h3 class="features-subtitle">First click tests</h3>
        <p class="features-subtext">While most people enjoy casino gambling.</p>
      </li>
      <li class="features-item">
        <img class="features-img" src="./img/features/icon-2.png" alt="blue circle" />
        <h3 class="features-subtitle">Design surveys</h3>
        <p class="features-subtext">Sports betting, lottery and bingo playing for the fun.</p>
      </li>
      <li class="features-item">
        <img class="features-img" src="./img/features/icon-3.png" alt="purple circle" />
        <h3 class="features-subtitle">Preference tests</h3>
        <p class="features-subtext">The Myspace page defines the individual.</p>
      </li>
      <li class="features-item">
        <img class="features-img" src="./img/features/icon-4.png" alt="red circle" />
        <h3 class="features-subtitle">Five second tests</h3>
        <p class="features-subtext">Personal choices and the overall personality of the person.</p>
      </li>
    </ul>
    <a class="features-btn" href="">SIGN UP NOW</a>
  </div>
</section>