<div class="container">
    <section class="feedback_section">
      <h2 class="feedback_title">What Clients Say</h2>
      <p class="feedback_subtitle">
        Problems trying to resolve the conflict between the two major realms of
        Classical physics: Newtonian mechanics
      </p>
      <div class="container">
    <ul class="feedback-list">
      
      <li class="feedback-item">
        <div class="feedback-stars">
          <img src="" alt="" />
        </div>
        <p class="feedback-text">
Product helps you see how many 
more days you need to work to 
reach your financial goal.
        </p>
        <div class="feedback-author">
          <img
            src=""
            alt="Wahid Ari photo"
            class="feedback-avatar"
          />
          <div class="feedback-meta">
            <p class="feedback-name">Wahid Ari</p>
            <p class="feedback-role">Designer</p>
          </div>
        </div>
      </li>
      <li class="feedback-item">
        <div class="feedback-stars">
          <img src="" alt="" />
        </div>
        <p class="feedback-text">
Product helps you see how many 
more days you need to work to 
reach your financial goal.
        </p>
        <div class="feedback-author">
          <img
            src=""
            alt="Wahid Ari photo"
            class="feedback-avatar"
          />
          <div class="feedback-meta">
            <p class="feedback-name">Wahid Ari</p>
            <p class="feedback-role">Designer</p>
          </div>
        </div>
      </li>
       <li class="feedback-item">
        <div class="feedback-stars">
          <img src="" alt="" />
        </div>
        <p class="feedback-text">
Product helps you see how many 
more days you need to work to 
reach your financial goal.
        </p>
        <div class="feedback-author">
          <img
            src=""
            alt="Wahid Ari photo"
            class="feedback-avatar"
          />
          <div class="feedback-meta">
            <p class="feedback-name">Wahid Ari</p>
            <p class="feedback-role">Designer</p>
    </section>
  </div>
