<section class="price">
  <div class="container">
    <h2 class="price-title">Price Table</h2>
    <p class="price-text">We offer competitive price</p>
        <ul class="price-list">
          <li class="price-item">
            <h3 class="price-item-subtitle">Free</h3>
            <p class="price-text-description">Brief price description</p>
            <div class="price-sign-box">
            <p class="price-sign">0 <sup>$</sup> <sub>Per/month</sub></p>
          </div>
          <div class="price-content-box">
            <p class="price-content">Only 2 Operators</p>
            <p class="price-content">Notifications</p>
            <p class="price-content">Landing Pages</p>
          </div>
            <button class="order-btn" type="button">Order Now</button>
          </li>
          <li>
            <h3 class="price-item-subtitle">Standard</h3>
            <p class="price-text-description">Brief price description</p>
            <div class="price-sign-box">
            <p class="price-sign">5 <sup>$</sup> <sub>Per/month</sub></p>
          </div>
          <div class="price-content-box">
            <p class="price-content">5+ Operators</p>
            <p class="price-content">Notifications</p>
            <p class="price-content">Landing Pages</p>
          </div>
            <button class="order-btn" type="button">Order Now</button>
          </li>
          <li>
            <h3 class="price-item-subtitle">Premium</h3>
            <p class="price-text-description">Brief price description</p>
            <div class="price-sign-box">
            <p class="price-sign">10 <sup>$</sup> <sub>Per/month</sub></p>
          </div>
            <div class="price-content-box">
            <p class="price-content">10+ Operators</p>
            <p class="price-content">Notifications</p>
            <p class="price-content">Landing Pages</p>
          </div>
            <button class="order-btn" type="button">Order Now</button>
          </li>
  </div>
</section>
